
body {
    padding-left: 15px;
    padding-top: 15px;
    font-family: "Times New Roman";
    color: black;
    background-image: url(doctor.jpg);
    background-size: cover;
    font-size: 20px;
    font-weight: bold;


}

input[type=button], input[type=submit], input[type=reset] {
    background-color: midnightblue;
    border-radius: 15%;
    color: white;
    padding: 12px 28px;
    cursor: hand;
}

textarea {
    width: 100px;
    height: 30px;

    box-sizing: border-box;
    border-radius: 4px;

}
