{% extends 'base.html' %}
{% block content %}
<form method="post" action="">
  {% csrf_token %}

    <center><h4>Wybierz lekarza </h4>{{ form.doctor_choice }}</center>
    <center><h5> Wpisz treść wiadomości (opisz jak najdokładniej symptomy,<br> jeśli dziecko jest zarejestrowane w Twoim profilu wystarczy że wpiszesz jego imię, jeśli nie
    wpisz również wiek dziecka).<br> Jeśli chcesz aby doktor do Ciebie oddzwonił, możesz również podać nr telefonu. </h5>{{ form.description}}</center>

 <center> <input type="submit" value="Wyślij"/> </center>
</form>

{% endblock %}