{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}





    {% if user.is_authenticated %}

<h1> Witaj {{request.user}} ! </h1><br><br>
    {% else %}

   <h1> Witaj!</h1> <br><br>

    {%endif %}


    <center>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'pill.png'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Kalkulator dawki leku</h2>
          <p>Nie wiesz ile leku podać swojemu dziecku? </p>
          <p><a class="btn btn-default" href="/drugs/" role="button">Sprawdź! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'baby.jpg'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Chore dziecko?</h2>
          <p>Twoje dziecko ma gorączkę, kaszel lub inne objawy? Sprawdź co może być przyczyną i czy konieczna jest wizyta u lekarza</p>
          <p><a class="btn btn-default" href="/doctor/" role="button">Sprawdź! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'stetoskop.jpg'%}" alt="Generic placeholder image" width="140" height="140">
          <h2>Skontaktuj się z lekarzem</h2>
          <p> Chcesz uzyskać konsultację lekarską bez wychodzenia z domu? </p>
          <p><a class="btn btn-default" href="/contact_doctor/" role="button">Kliknij! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
        </center>




    </div>
{% endblock %}