{% extends 'base.html' %}
{% block content %}

<h2> Witaj {{request.user}}</h2>

<ul>
    <h3>Twoje dodane dane:</h3>
{% for baby in babies %}
    <li>Imię dziecka: <b> {{baby.baby_name}}</b>, Data urodzenia dziecka: <b>{{baby.age}}</b>, Waga dziecka: <b>{{baby.weight}} kg</b></li>
{% endfor %}
<br><br>
Twoje wysłane wiadomości: <br>
    {% for message in messages %}
    Do: {{message.doctor_choice}}@lekarz.com<br>
    Treść: {{message.description}}<br><br>
    {%endfor %}
</ul>

<a href="/formularz"> Dodaj kolejne dziecko</a> <br>

{%endblock%}